
<%=  form_for @designer do |f| %>
    <% if @designer.errors.any? %>
        <h2>Errors:</h2>
        <ul>
          <% @designer.errors.full_messages.each do |message| %>
               <li> <%= message %> </li>
          <% end %>

        </ul>
    <% end %>


    <h1>New Designer</h1>
    </br>



     <h4> <%=  f.label "Designer name:" %> </h4>
     <%=  f.text_field :d_name %>      </br></br>




      <h4><%=  f.label "Designer Description:"%></h4>
      <%=  f.text_area :d_desc %> </br></br>


    <h4>
      Select Picture
    </h4>

     <p>
    <% Dir["app/assets/images/*.jpg"].each do |file| %>
        <%=  radio_button_tag 'designer[d_pic]', File.basename(file) %>
        <%=  File.basename(file) %>
    <% end %>
     </p>


    <p>
      <%=  f.submit "Add new Designer" %>  </br>

    </p>

<% end %>

